header{
    margin: 0;
   box-shadow: 0px -2px 12px 0px black;
   padding: 10px 0;
    background-color: white;
    & #header-menu{
        display: flex;
        gap: 20px;
    }

    svg {
        width: 40px;
        height: 40px;
      }
    
}

