#reader{
    width: 300px;
    margin: auto;
}

#reader #html5-qrcode-button-camera-stop{
    display: none !important;
}

#div-informacoes{
    text-align: center;
    display: none;
}

#div-informacoes img{
    width: 300px;
}